extends layout
block head-js
  script(type='text/javascript',src='/javascripts/video.js')
block content
  - var width = 854, height = 480;
  h1 Video
  video#video(width=width,height=height,src='/images/video_sample.mp4',autoplay)
  button#capture-button キャプチャする
  div#capture
  div(style='display:none;')
    canvas#tmp-canvas(width=width,height=height)
