body {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

body, div, a, p, span {
    padding: 0;
    margin: 0;
}

a {
    color: #00B7FF;
}

.nav {
    height: 54px;
    background-color: #FF6347;
}

.nav .nav_title {
    line-height: 56px;
    text-align: center;
    color: white;
    font-size: 20px;
}

.main {
}

.login {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #FF6347;
    text-align: center;
}

.login .login-inner {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.login .login-button {
    width: 80%;
    height: 10vw;
    line-height: 10vw;
    margin: 10vw auto 0;
    background-color: #FFF;
    border-radius: 8px;
    color: #FF6347;
    font-size: 16px;
    font-weight: bold;
    display: block;
    text-decoration: none;
}

.login .logo {
    width: 60%;
    height: auto;
}

.login .login-button:hover {
    background-color: #FFA899;
    color: #FFF;
}

.video * {
    width: 100%;
}

.timeline {
    margin: 10px auto 0;
    padding: 10px;
}

.timeline-item {
    display: flex;
    margin-bottom: 10px;
}

.timeline-item.is-others {
    flex-direction: row-reverse;
}

.timeline-item_timestamp {
    width: 4rem;
    color: #999;
    padding-bottom: 20px;
    text-align: center;
    align-self: flex-end;
}

.timeline-item_content {
    flex: 1;
    padding: 0 10px;
}

.timeline-item_img img {
    margin-bottom: 5px;
    width: 100%;
}

.timeline-item_comment {
    background-color: #EEE;
    padding: 8px;
    border-radius: 5px;
    font-size: 14px;
    word-break: break-all;
}

.timeline-item_icon {
    width: 40px;
    align-self: flex-end;
}

.timeline-item_icon img {
    width: 100%;
    border-radius: 50%;
}

.movie,
#video {
    position: relative;
    /*width: 320px;*/
    /*height: 200px;*/
    background-color: #CCC;
    overflow: hidden;
}

.out {
    position: absolute;
    left: 600px;
    bottom: 8px;
    width: 100%;
    height: 64px;
    z-index: 2;
}

#count-area {
    height: 36px;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
    margin-right: 10px;
    margin-top: 10px;
}

#bat-img,
#foot-img {
    height: 36px;
    margin: 0 5px 0 20px;
}

#bat-count,
#foot-count {

    font-size: 28px;
    color: #ffffff;
    position: relative;
    bottom: 6px;
}

#filter {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    background: linear-gradient(rgba(0, 0, 0, .6), rgba(0, 0, 0, 0));
    z-index: 1;
}
